{% extends "base.html" %}

{% block content %}

<div class="card" style="max-width:500px; margin:auto;">
    <h2>Medical Staff Registration</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Full Name" required>
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="password" name="password" placeholder="Password" required>

        <button class="btn" type="submit">Register</button>
    </form>

    <p>Already have account? <a href="/login">Login</a></p>
</div>

{% endblock %}
